<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  
  <header class="flex justify-content: space-around">
    
    <div class="logo">Logo</div>
    
    <ul class="flex">
      <li class="margin-left: 3em;"><a href="">Icone</a></li>
      <li class="margin-left: 3em;"><a href="">Icone</a></li>
      <li class="margin-left: 3em;"><a href="">Icone</a></li>
      <li class="margin-left: 3em;"><a href="">Icone</a></li>
      <li class="margin-left: 3em;"><a href="">Icone</a></li>
    </ul>

  </header>
  
</body>
</html>
